{% extends 'base.html' %} 
{% block content %} 
<div class="container">
        <div class="row margin_row">
            <div class="col-xs-12 page_title">
                <div class="blog_btn">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    <div id="about" class="row">
        <div class="col-xs-12 col-md-6">
             <img class="img-fluid" src="/media/images/mistral-about.jpg"  alt="">
        </div>
        <div id="conceptText" class="col-xs-12 col-md-6">
            <p>Mistral is a new wine bar and shop tucked away on Chester's historic Watergate Row North. Conceived by international wine writer and critic Paul Caputo and bespoke tailor Patrick Barker, Mistral houses a collection of authentic wines by small growers and boutique wineries that value sustainable winemaking and respect for the environment above all else.</p>
                <p>After years of talking about it, we've decided to make it a reality and create our own venue. We're now open!!! You can expect great wines from all over the world, simple plates and a cool, contemporary space to relax in. We hope you'll come and join us for a glass or two and tell us what you think.</p>
    
                <p>Paul Caputo & Patrick Barker</p>
        </div>
    </div>
</div>



{% endblock %}