{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row margin_row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4>locatation</h4>
            <p>22 Watergate Row North</p>
            <p>Chester, Cheshire, CH1 2LD</p>
        </div>
    </div>
</div>
<!-- Map -->

<div id="map-area" class="col-xs-12">
    <div id="map"></div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4>hours</h4>
            <p>5pm - 11pm Wednesday - Saturday</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4>contact</h4>
        </div>
    </div>
</div>



{% endblock %}