{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row margin_row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4 class="subhead">locatation</h4>
            <p>22 Watergate Row North</p>
            <p>Chester, Cheshire, CH1 2LD</p>
        </div>
    </div>
</div>
<!-- Map -->

<div id="map-area" class="col-xs-12">
    <div id="map"></div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4 class="subhead">hours</h4>
            <p>5pm - 11pm Wednesday - Saturday</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 contact_subheadings">
            <h4 class="subhead">contact</h4>
        </div>
    </div>
                <form id="contactForm">

                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                         </div>

                        <div class="input-field col-xs-10 offset-xs-1 col-sm-6">
                            <input type="text" class="input-signup form-control" placeholder="First name">
                        </div>
                        <div class="input-field col-xs-12 col-sm-6">
                            <input type="text" class="input-signup form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                         </div>
                    </div>
                    <div class="row">
                        <div class="input-field col-xs-10 offset-xs-1 col-md-12 col-lg-12">
                            <input type="text" class="input-signup form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                          <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                    </div>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-warning sign_up_btn">Submit</button>
                    </div>
                </form>
    </div>
</div>



{% endblock %}