{% extends 'base.html' %} 
{% block content %} 

<div class="container-fluid">
    <div class="row margin_row">
        <div class="col-xs-12">
            <div class="image">
                <img class="img-fluid" src="/media/images/cheers.jpg"  alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 event_wrapper">
          
                <h3>Special Occasion?</h3>
                <p>we are also available to provide wine tastings and other small events</p>
           
        </div>
    </div>
</div>

{% endblock %}