{% extends 'base.html' %} 
{% block content %} 

<div class="container-fluid">
    <div class="row margin_row">
        <div class="col-xs-12">
            <div class="image">
                <img class="img-fluid" src="/media/images/cheers.jpg"  alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 event_wrapper">
          
                <h3>Special Occasion?</h3>
                <p>we are also available to provide wine tastings and other small events</p>
           
        </div>
    </div>
        <div id="events" class="row">
            <div class="col-xs-12 col-lg-4 wrap">
                <div class="home_pic">
                     <img class="img-fluid" src="/media/images/events.jpg"  alt="">
                    <div class="overtxt">
                        <h2>Drink</h2>
                        <p>some of the finest wines here in our bar</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 wrap">
                <div class="home_pic">
                    <img class="img-fluid" src="/media/images/events1.jpg"  alt="">
                    <div class="overtxt">
                        <h2>Buy</h2>
                        <p>our wines here</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 wrap">
                <div class="home_pic">
                    <img class="img-fluid" src="/media/images/mistral-about.jpg"  alt="">
                    <div class="overtxt">
                        <h2>Hire</h2>
                        <p>our space for an event</p>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}