{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row margin_row">
        <div class="col-xs-12 event_img">
            <div class="col-xs-12 event_wrapper">
                <div class="row">
                    <div class="col-xs-12 page_title">
                        <div class="blog_btn">
                            <h1 id="eventsTitle">Special Occasion?</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col events_text">
                        <p>we are also available to provide wine tastings and other small events. Get in touch with us via socials or our contact form for more details</p>
                        <h4 class="events_subtitle">Tasting Events</h4>
                        <p>On the last Wednesday of every month we hold our ‘free pour’ tasting. It’s an informal get together where you can try a range of wines at your own speed. We also hold lots of other events throughout the year. You can see what’s on here.</p>
                        <h4 class="events_subtitle">Private Hire</h4>
                        <p>Mistral is available for private hire any night of the week. As you might expect Friday and Saturday evenings are more expensive than weekdays. To get a specific quote for your wine event just drop us a <a href="{% url 'contact' %}">message.</a></p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
