{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row margin_row">
        <div class="col-xs-12 menu-img">
            <div class="col-xs-12 menu_wrapper menu">
                <div class="row">
                    <div class="col-xs-12 page_title">
                        <div class="blog_btn">
                            <h1>Menu</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col menu_subheading">
                        <p>The following is a sample menu. We change our menus frequently.</p>
                    </div>
                </div>
                <div id="menuDetails" class="row">
                    <div class="col-xs-12 col-md-6 menu_text">
                        <h5><strong>Mistral Nibbles Menu</strong></h5>
                        <p>Pistachios <span class="price">£2.50</span></p>
                        <p>Green & Black Olives with marinated garlic, cornichons & roasted red pepper <span class="price">£4</span></p>
                        <p>Bruschetta with black & green olive tapenade & red pepper pesto <span class="price">£5</span></p>
                        <p>Cheese Platter A selection of Welsh, Cheshire & European cheeses, crackers, chutney, membrillo & grapes <span class="price">£12</span></p>
                        <p>Antipasto Platter Prosciutto, Coppa, Milano, Finocchiona, toasted ciabatta, olive oil & balsamic vinegar <span class="price">£12</span></p>
                        <p>Mixed Platter Coppa, Milano, Finocchiona, selection of cheeses, crackers, chutney, olives, membrillo & grapes <span class="price">£12</span></p>
                        <span class="menu_note"><p><em>Food allergens & intolerances; Please speak to us about the ingredients in dishes when making your order.</em></p></span>
                    </div>
                    <div class="col-xs-12 col-md-6 menu_text">

                        <h5><strong>Wines by the glass</strong></h5>
                        <p>Sparkling Lemoss Frizzante Non Filtrato NV by Ca’di Rajo (Veneto, Italy) <span class="price">£6.50 (125ml)</span></p>
                        <p>White Pfalz QbA Grauburgunder 2017 by Emil Bauer (Pfalz, Germany) <span class="price">£8 (175ml) / £10.50 (250ml)</span></p>
                        <p>Vouvray AOC ‘Arpent’ 2017 by Sébastien Brunet (Loire Valley, France) <span class="price">£8 (175ml) / £10.50 (250ml)</span></p>
                        <p>Orange Terre Siciliane Bianco IGP ‘Rami’ 2017 by Az. Ag. Cos (Sicily, Italy) <span class="price">£8.50 (175ml) / £11.50 (250ml)</span></p>
                        <p>Rose Pfalz QbA Pinot Noir Rose 2018 by Emil Bauer (Pfalz, Germany) <span class="price">£7 (175ml) / £9 (250ml)</span></p>
                        <p>Red Dão Reserva DOC 2014 ‘Opta’ by Bodegas Boas Quintas (Dão, Portugal) <span class="price">£7 (175ml) / £9 (250ml)</span></p>
                        <p>Barbera d’Asti DOCG 2017 by Az. Ag. Francomondo (Italy) <span class="price">£7.50 (175ml) / £10 (250ml)</span></p>
                        <p>Coteaux de l’Ardeche IGP ‘Petite Selve’ 2017 by Chateau de la Selve (Languedoc-Roussillon, France) <span class="price">£7.50 (175ml) / £10 (250ml)</span></p>
                        <span class="menu_note"><p><em>(Wines also available in 125ml. Please ask)</em></p></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
