{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row margin_row">
        <div class="col-xs-12">
            <div class="menu-img">
                <img class="img-fluid" src="/media/images/food-img.jpg" alt="food image">
                <div class="col-xs-12 menu_wrapper menu">
                    <div class="row">
                        <div class="col-xs-12 page_title">
                            <div class="blog_btn">
                                <h1 class="blogpage_title">Menu</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>The following is a sample menu. We change our menus frequently.</p>
                        </div>
                    </div>
                    <div id="menuDetails" class="row">
                        <div class="col-xs-12 col-md-6 menu_text">
                            <p><strong>Mistral Nibbles Menu</strong></p>
                            <p>Pistachios £2.50</p>
                            <p>Green & Black Olives with marinated garlic, cornichons & roasted red pepper £4</p>
                            <p>Bruschetta with black & green olive tapenade & red pepper pesto £5</p>
                            <p>Cheese Platter A selection of Welsh, Cheshire & European cheeses,
                            crackers, chutney, membrillo & grapes £12</p>
                            <p>Antipasto Platter Prosciutto, Coppa, Milano, Finocchiona, toasted ciabatta, olive oil & balsamic vinegar £12</p>
                            <p>Mixed Platter Coppa, Milano, Finocchiona, selection of cheeses, crackers, chutney,
                            olives, membrillo & grapes £12</p> 
                            <span class="menu_note"><p><em>Food allergens & intolerances; Please speak to us about the ingredients in dishes when making your order.</em></p></span>
                        </div>
                        <div class="col-xs-12 col-md-6 menu_text">
                            <p><strong>Wines by the glass</strong></p>
                            <p>Sparkling Lemoss Frizzante Non Filtrato NV by Ca’di Rajo (Veneto, Italy) £6.50
                            (125ml)</p>
                            <p>White Pfalz QbA Grauburgunder 2017 by Emil Bauer (Pfalz, Germany) £8 (175ml) / £10.50 (250ml)</p>
                            <p>Vouvray AOC ‘Arpent’ 2017 by Sébastien Brunet (Loire Valley, France) £8 (175ml) / £10.50 (250ml) Orange Terre Siciliane Bianco IGP
                            ‘Rami’ 2017 by Az. Ag. Cos (Sicily, Italy) £8.50 (175ml) / £11.50 (250ml)</p>
                            <p>Rose Pfalz QbA Pinot Noir Rose 2018 by Emil Bauer (Pfalz, Germany) £7 (175ml) / £9 (250ml)</p>
                            <p>Red Dão Reserva DOC 2014 ‘Opta’ by Bodegas Boas Quintas (Dão, Portugal)
                            £7 (175ml) / £9 (250ml)</p>
                            <p>Barbera d’Asti DOCG 2017 by Az. Ag. Francomondo (Italy) £7.50 (175ml) / £10 (250ml)</p>
                            <p>Coteaux de l’Ardeche IGP ‘Petite Selve’ 2017 by Chateau de la Selve (Languedoc-Roussillon, France) £7.50 (175ml) / £10 (250ml)</p>
                            <span class="menu_note"><p><em>(Wines also available in 125ml. Please ask)</em></p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
