{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <div class="container">
        <div id="winesRow" class="row margin_row">
            {% for wine in wines %}
            <div class="col-xs-12 col-md-6 col-lg-4">
                <a href="{% url 'wine_detail' wine.id %}" role="button">
                    <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ wine.image }}"></img></a>
                        <h3 class="card-title">{{ wine.name }}</h3>
                        <p class="box-description">{{ wine.grape | title }}</p>
                        <p><strong>£ {{ wine.price }}</strong></p>

                        <form method="POST" action="{% url 'add_to_cart' wine.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                            <input class="form-control quantity-input" type="number" min='1' max='999' name="quantity" placeholder="Quantity" required />
                            <span class="input-group-btn">
                                <button class="icon-btn add-btn">
                                        <div class="add-icon"></div>
                                        <div class="btn-txt">Add to Basket</div>
                                </button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}