{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row margin_row">
        <div class="col-xs-12 col-sm-6 offset-sm-3">
            <div class="card mb-3">
                <div class="card-body">
                    {% if wine.image %}
                    <img class="boxes card-img-top" src="{{ MEDIA_URL }}{{ wine.image }}"></img>
                    {% endif %}
                    <h3 class="card-title">{{ wine.name }}</h3>
                    <p class="box-description">{{ wine.grape }}</p>
                    <span class="winedetail_price"><p>£ {{ wine.price }}</p></span>
                    <a href="{% url 'wines' %}" class="btn btn-outline-warning btn-sm">Back to wines</a>
                    <hr>
                    <form method="POST" action="{% url 'add_to_cart' wine.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control quantity-input" type="number" min='1' max='999' name="quantity" placeholder="Quantity" required />
                            <span class="input-group-btn">
                                <button class="icon-btn add-btn">
                                        <div class="add-icon"></div>
                                        <div class="btn-txt">Add to Basket</div>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}