{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 

{% block head_js %}
<!--Stripe key-->
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %} 

{% block content %}

<div class="container">
    <div id="checkoutFormRow" class="row margin_row">
        
        <!--ORDER SUMMARY-->
        
        <div class="col-xs-12 col-md-4">
            <!--Title-->
            <div class="blog_btn page_title">
                <h2 class="title">Order Summary</h2>
            </div>
            <!--Show items in basket for checkout-->
            {% for item in cart_items %}
            <div class="row">
                <div class="col-6">
                    <img class="boxes card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}"></img>
                </div>
                <div class="col-6">
                    <p class="card-title">{{ item.product.name }}</p>
                    <p><i class="fas fa-pound-sign"></i> {{ item.product.price }}</p>
                    <p>Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 checkout_total">
                <p>Total: <i class="fas fa-pound-sign"></i> {{ total }}</p>
            </div>
            <div class="back_to_basket">
                <a class="btn btn-sm btn-outline-warning" href="{% url 'view_cart' %}" role="button">Back to Basket</a>
            </div>
        </div>

        <!--CHECKOUT FORM-->
        
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div id="checkoutForm" class="col-xs-12 col-md-8 offset-md-2">
                    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
                        <legend><i class="far fa-credit-card"></i> Payment Details</legend>
                        <div id="credit-card-errors" style="display:none">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        </div>
                        <div class="form-group">
                            {{ order_form | as_bootstrap }}
                        </div>
                        <div class="form-group">
                            {{ payment_form | as_bootstrap }}
                        </div>
                        {% csrf_token %}
                        <div class="form-group submit_payment_btn">
                            <i class="fas fa-lock"></i>
                            <input class="btn btn-warning" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
