{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    <div class="row margin_row">
                <div class="col-xs-12 main_title">
            <h1 class="page_title">basket</h1>
        </div>
    </div>
    {% if cart_items %}
    <div class="row margin_bottom">
        {% for item in cart_items %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card wines">
                <div class="card-body">
                    <img class="boxes card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}"></img>
                    <h3>{{ item.product.name|truncatechars:28 }}</h3>
                    <p class="box-description">{{ item.product.description }}</p>
                    <p>£ {{ item.product.price }}</p>
                    <div class="caption">
                        <p>
                            <div class="qty">
                                <p><strong>Qty:</strong></p>
                            </div>
                            <form method="POST" action="{% url 'adjust_cart' item.id %}" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <input value="{{item.quantity}}" class="form-control" type="number" name="quantity" min="0" max="999" required/>
                                        <span class="input-group-btn">
                                            <button class="icon-btn add-btn">
                                                <div class="add-icon"></div>
                                                <div class="btn-txt">Update</div>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </p>
                        <div class="empty-cart">
                            <a class="btn btn-sm btn-outline-danger" href="{% url 'remove_cart_items' item.id %}" role="button">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
         <!--Total Amount / Shop More Wines  -->
        <div class="basket_total">
            <div class="col-12">
                <h3>Total</h3>
                <p>£ {{total}}</p>
                <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-danger" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                <a href="{% url 'wines' %}" class="btn btn-sm btn-outline-warning">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>
{% else %}

<!-- If cart is EMPTY -->
<div class="row margin_bottom">
        <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-4 offset-md-4 empty-cart">
            <div class="card wines">
                <div class="card-body no_items">
                    <p class="card-text">You have no items your cart.</p>
                    <a href="{% url 'wines' %}" class="btn btn-sm btn-outline-warning">Shop Wines</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}