{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Wine Bar</title>

    <!-- Bootstrap CSS jQuery -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>

    {% block head_js %} {% endblock head_js %}
</head>

<body>
    <header class="container-fluid">
        <!--  Navbar    -->
    
        <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <a class="navbar-brand" href="{% url 'index' %}"><img class="img-fluid logo_nav" src="/media/images/logo.png" alt="logo"></a>

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active one">
                        <a class="nav-link" href="{% url 'concept' %}">Concept <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active two">
                        <a class="nav-link" href="{% url 'wines' %}">Wines <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active three">
                        <a class="nav-link" href="{% url 'events' %}">The Space <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active four">
                        <a class="nav-link" href="{% url 'get_posts' %}">Blog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active five">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active six">
                        <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <span id="myBtn"><i class="fas fa-search"></i></span>
    
                {% if user.is_authenticated %}
                <span class="navbar-text active">
                    <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
                </span>
                <span class="navbar-text active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                </span>
                {% else %}
                <span class="navbar-text active">
                    <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>  Register <span class="sr-only">(current)</span></a>
                </span>
                <span class="navbar-text active">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user"></i>  Login <span class="sr-only">(current)</span></a>
                </span>
                {% endif %}
                <span class="navbar-text active">
                    <a class="nav-link" href="{% url 'view_cart' %}">Basket <i class="fas fa-shopping-cart"></i>
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{product_count}} </label>
                    {% endif %}
                    </a>
                </span>
            </div>
        </nav>
    </header>
    <!--Messages-->

{% if messages %}
<div class="message-wrapper alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
  <h3 id="message-text">{{ message }}</h3>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
  {% endfor %}
</div>
{% endif %}

    <!--Insert Content-->
    
    {% block content %} 
    {% endblock %}

    <!-- The Modal -->
    
    <div id="boxModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="search">
                <form action="{% url 'search' %}" method="GET">
                    <input class="search-box" type="text" name="q" placeholder="Name, Grape or Type eg 'red'" />
                    <button class="search-btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        
    </div>
    
    <!--Email Sign Up-->
    
    <!--<div class="email_wrapper">   -->
    <!--    <div class="container">-->
    <!--        <div class="signup-form">-->
    <!--            <h5>Sign Up to the Mistral Newsletter</h5>-->
    <!--            <p>receive all the up to date news about our wines, articles and special offers</p>-->
    <!--            <form>-->
    <!--                <div class="row">-->
    <!--                    <div class="input-field col-xs-10 offset-xs-1 col-sm-4 offset-sm-2">-->
    <!--                        <input type="text" class="input-signup form-control" placeholder="First name">-->
    <!--                    </div>-->
    <!--                    <div class="input-field col-xs-12 col-sm-4">-->
    <!--                        <input type="text" class="input-signup form-control" placeholder="Last name">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <div class="input-field col-xs-10 offset-xs-1 col-sm-6 offset-sm-3">-->
    <!--                        <input type="text" class="input-signup form-control" placeholder="Email">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col-auto my-1">-->
    <!--                    <button type="submit" class="btn btn-warning sign_up_btn">Sign me up!</button>-->
    <!--                </div>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>     -->
    <!--Footer-->

    <footer>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p class="footer-text">©2019 Heather Caputo</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <ul class="socials">
                    <h5>Socials</h5>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="explore_wrapper">
                    <h5>Explore</h5>
                    <ul class="footer_explore">
                        <li><a href="">Concept</a></li>
                        <li><a href="">Wines</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Menu</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--google map api -->
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF_dyNMt5EvrxUQ0k3CMWJygiwsmVVCNg&libraries=places&callback=initMap"></script>
    <!-- JS for search modal-->
    <script type="text/javascript">
        var modal = document.getElementById('boxModal');
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        };
        span.onclick = function() {
            modal.style.display = "none";
        };
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script>
    
</body>

</html>
