{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block content %}

<div class="container">
    <!--Page title-->
    <div class="row margin_row">
        <div id="blogTitle" class="col-xs-12">
            <div class="blog_btn">
                <h1 class="page_title">New Post</h1>
            </div>
        </div>
    </div>
    <!--New Blog Post form-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <div class="card mb-3">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} {{ form | as_bootstrap }}
                        <button type="submit" class="btn btn-sm btn-outline-danger">Save</button>
                        <a href="{% url 'get_posts' %}" class="btn btn-sm btn-outline-warning">Back to Blog</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
