{% extends 'base.html' %}
{% block content %}

<div class="container">
    
    <!--Wine Detail-->
    
    <div id="postDetail" class="row margin_row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <div class="card mb-3 wrapper">
                <div class="card-body">
                    {% if post.image %}
                    <img class="boxes card-img-top" src="{{ MEDIA_URL }}{{ post.image }}"></img>
                    {% endif %}
                    <h3 id="editBlogpost" class="card-title">{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <p><span class="lighttext">Author: {{ post.author|title }}</span></p>
                    <p><span class="lighttext">Published on: {{ post.published_date }}</span></p>
                    <p><span class="lighttext">Views: {{post.views}}</span></p>
                    <a href="{% url 'get_posts' %}" class="btn btn-sm btn-outline-warning">Back to Blog</a>
                    <a href="{% url 'edit_post' post.id %}" style="display: none;" class="btn btn-sm btn-outline-danger">Edit Post</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}